*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1490);
}

h2 {
    background-color: rgba(255, 255, 255, 0.117);
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    text-align: center;
    text-size-adjust: 200;
    padding: 30px;
}

#al {
    margin:auto 330px;
    color: rgb(255, 255, 255);
    border: rgb(255, 252, 252);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    text-align: center;
    background: indigo;
}

.forms {
    text-align: center;
}

input {
    border-radius: 5px;
    padding: 5px 40px;
    background: transparent;
    color: #f4f4f4;
}

input::placeholder {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

#btn:hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-color: rgb(255, 255, 255);
    cursor: pointer;

}

.gender {
    font-size: small;
    text-align: left;
    padding: 4px 60px;
}

.elgbl {
    font-size: small;
    text-align: left;
    padding: 4px 60px;
}

#btn {
    color: #ffffff;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    margin: 23px;
    padding: 3px 10px;
    background: transparent;
    font-size: medium;
    width: 29%;
    text-align: center
}