* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1490);
}

.container {
    width: 100%;
    height: 100vh;
}

.container .outerbox {
    width: 28%;
    height: 65vh;
    position: absolute;
    margin: 6% 30%;
    background-color: indigo;
    border-radius: 7px;
}

.container .outerbox h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 100%;
    background-color: #673AB7;
    padding: 1rem 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
}

.container .outerbox form {
    width: 80%;
    height: 20.5em;
    margin: 21px 0px;
    padding: 0px 0px;
    background-color: indigo;
    position: absolute;

}

.container .outerbox form .inputBox {
    width: 35%;
    height: 40px;
    margin: 4px 90px;
    padding: 0px 0px;

}

.inputBox input {
    color: white;
    width: 260px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0px auto;
    background: none;
}

input::placeholder {
    color: white;

}

.gender {
    color: white;
    width: 45%;
    height: 40px;
    margin: 0px 90px;
    padding: 2px 0px;
    font-size: 13px;
}

.elgbl {
    color: white;
    width: 45%;
    height: 40px;
    margin: 0px 90px;
    padding: 0px 0px;
    font-size: 13px;
}

#btn {
    color: #ffffff;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    margin: 23px 160px;
    padding: 4px 4px;
    background: transparent;
    font-size: medium;
    width: 29%;
    text-align: center
}

#btn:hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}